/* resources/css/theme.css */

/* Светлая тема — значения по умолчанию */
/* сетка цветов tailwind */
:root {
    --slate-1: rgb(248 250 252);
    --slate-2: rgb(241 245 249);
    --slate-3: rgb(226 232 240);
    --slate-4: rgb(203 213 225);
    --slate-5: rgb(148 163 184);
    --slate-6: rgb(100 116 139);
    --slate-7: rgb(71 85 105);
    --slate-8: rgb(51 65 85);
    --slate-9: rgb(30 41 59);
    --slate-10: rgb(15 23 42);
    --slate-11: rgb(2 6 23);

    --gray-1: rgb(249 250 251);
    --gray-2: rgb(243 244 246);
    --gray-3: rgb(229 231 235);
    --gray-4: rgb(209 213 219);
    --gray-5: rgb(156 163 175);
    --gray-6: rgb(107 114 128);
    --gray-7: rgb(75 85 99);
    --gray-8: rgb(55 65 81);
    --gray-9: rgb(31 41 55);
    --gray-10: rgb(17 24 39);
    --gray-11: rgb(3 7 18 );

    --zinc-1: rgb(250 250 250);
    --zinc-2: rgb(244 244 245);
    --zinc-3: rgb(228 228 231);
    --zinc-4: rgb(212 212 216);
    --zinc-5: rgb(161 161 170);
    --zinc-6: rgb(113 113 122);
    --zinc-7: rgb(82 82 91);
    --zinc-8: rgb(63 63 70);
    --zinc-9: rgb(39 39 42);
    --zinc-10: rgb(24 24 27);
    --zinc-11: rgb(9 9 11);

    --neutral-1: rgb(250 250 250);
    --neutral-2: rgb(245 245 245);
    --neutral-3: rgb(229 229 229);
    --neutral-4: rgb(212 212 212);
    --neutral-5: rgb(163 163 163);
    --neutral-6: rgb(115 115 115);
    --neutral-7: rgb(82 82 82);
    --neutral-8: rgb(64 64 64);
    --neutral-9: rgb(38 38 38);
    --neutral-10: rgb(23 23 23);
    --neutral-11: rgb(10 10 10);

    --stone-1: rgb(250 250 249);
    --stone-2: rgb(245 245 244);
    --stone-3: rgb(231 229 228);
    --stone-4: rgb(214 211 209);
    --stone-5: rgb(168 162 158);
    --stone-6: rgb(120 113 108);
    --stone-7: rgb(87 83 78);
    --stone-8: rgb(68 64 60);
    --stone-9: rgb(41 37 36);
    --stone-10: rgb(28 25 23);
    --stone-11: rgb(12 10 9);

    --red-1: rgb(254 242 242);
    --red-2: rgb(254 226 226);
    --red-3: rgb(254 202 202);
    --red-4: rgb(252 165 165);
    --red-5: rgb(248 113 113);
    --red-6: rgb(239 68 68);
    --red-7: rgb(220 38 38);
    --red-8: rgb(185 28 28);
    --red-9: rgb(153 27 27);
    --red-10: rgb(127 29 29);
    --red-11: rgb(69 10 10);

    --orange-1: rgb(255 247 237);
    --orange-2: rgb(255 237 213);
    --orange-3: rgb(254 215 170);
    --orange-4: rgb(253 186 116);
    --orange-5: rgb(251 146 60);
    --orange-6: rgb(249 115 22);
    --orange-7: rgb(234 88 12);
    --orange-8: rgb(194 65 12);
    --orange-9: rgb(154 52 18);
    --orange-10: rgb(124 45 18);
    --orange-11: rgb(67 20 7);

    --amber-1: rgb(255 251 235);
    --amber-2: rgb(254 243 199);
    --amber-3: rgb(253 230 138);
    --amber-4: rgb(252 211 77);
    --amber-5: rgb(251 191 36);
    --amber-6: rgb(245 158 11);
    --amber-7: rgb(217 119 6);
    --amber-8: rgb(180 83 9);
    --amber-9: rgb(146 64 14);
    --amber-10: rgb(120 53 15);
    --amber-11: rgb(69 26 3);

    --yellow-1: rgb(254 252 232);
    --yellow-2: rgb(254 249 195);
    --yellow-3: rgb(254 240 138);
    --yellow-4: rgb(253 224 71);
    --yellow-5: rgb(250 204 21);
    --yellow-6: rgb(234 179 8);
    --yellow-7: rgb(202 138 4);
    --yellow-8: rgb(161 98 7);
    --yellow-9: rgb(133 77 14);
    --yellow-10: rgb(113 63 18);
    --yellow-11: rgb(66 32 6);

    --lime-1: rgb(247 254 231);
    --lime-2: rgb(236 252 203);
    --lime-3: rgb(217 249 157);
    --lime-4: rgb(190 242 100);
    --lime-5: rgb(163 230 53);
    --lime-6: rgb(132 204 22);
    --lime-7: rgb(101 163 13);
    --lime-8: rgb(77 124 15);
    --lime-9: rgb(63 98 18);
    --lime-10: rgb(54 83 20);
    --lime-11: rgb(26 46 5);

    --green-1: rgb(240 253 244);
    --green-2: rgb(220 252 231);
    --green-3: rgb(187 247 208);
    --green-4: rgb(134 239 172);
    --green-5: rgb(74 222 128);
    --green-6: rgb(34 197 94);
    --green-7: rgb(22 163 74);
    --green-8: rgb(21 128 61);
    --green-9: rgb(22 101 52);
    --green-10: rgb(20 83 45);
    --green-11: rgb(5 46 22);

    --emerald-1: rgb(236 253 245);
    --emerald-2: rgb(209 250 229);
    --emerald-3: rgb(167 243 208);
    --emerald-4: rgb(110 231 183);
    --emerald-5: rgb(52 211 153);
    --emerald-6: rgb(16 185 129);
    --emerald-7: rgb(5 150 105);
    --emerald-8: rgb(4 120 87);
    --emerald-9: rgb(6 95 70);
    --emerald-10: rgb(6 78 59);
    --emerald-11: rgb(2 44 34);

    --teal-1: rgb(240 253 250);
    --teal-2: rgb(204 251 241);
    --teal-3: rgb(153 246 228);
    --teal-4: rgb(94 234 212);
    --teal-5: rgb(45 212 191);
    --teal-6: rgb(20 184 166);
    --teal-7: rgb(13 148 136);
    --teal-8: rgb(15 118 110);
    --teal-9: rgb(17 94 89);
    --teal-10: rgb(19 78 74);
    --teal-11: rgb(4 47 46);

    --cyan-1: rgb(236 254 255);
    --cyan-2: rgb(207 250 254);
    --cyan-3: rgb(165 243 252);
    --cyan-4: rgb(103 232 249);
    --cyan-5: rgb(34 211 238);
    --cyan-6: rgb(6 182 212);
    --cyan-7: rgb(8 145 178);
    --cyan-8: rgb(14 116 144);
    --cyan-9: rgb(21 94 117);
    --cyan-10: rgb(22 78 99);
    --cyan-11: rgb(8 51 68);

    --sky-1: rgb(240 249 255);
    --sky-2: rgb(224 242 254);
    --sky-3: rgb(186 230 253);
    --sky-4: rgb(125 211 252);
    --sky-5: rgb(56 189 248);
    --sky-6: rgb(14 165 233);
    --sky-7: rgb(2 132 199);
    --sky-8: rgb(3 105 161);
    --sky-9: rgb(7 89 133);
    --sky-10: rgb(12 74 110);
    --sky-11: rgb(8 47 73);

    --blue-1: rgb(239 246 255);
    --blue-2: rgb(219 234 254);
    --blue-3: rgb(191 219 254);
    --blue-4: rgb(147 197 253);
    --blue-5: rgb(96 165 250);
    --blue-6: rgb(59 130 246);
    --blue-7: rgb(37 99 235);
    --blue-8: rgb(29 78 216);
    --blue-9: rgb(30 64 175);
    --blue-10: rgb(30 58 138);
    --blue-11: rgb(23 37 84);

    --indigo-1: rgb(238 242 255);
    --indigo-2: rgb(224 231 255);
    --indigo-3: rgb(199 210 254);
    --indigo-4: rgb(165 180 252);
    --indigo-5: rgb(129 140 248);
    --indigo-6: rgb(99 102 241);
    --indigo-7: rgb(79 70 229);
    --indigo-8: rgb(67 56 202);
    --indigo-9: rgb(55 48 163);
    --indigo-10: rgb(49 46 129);
    --indigo-11: rgb(30 27 75);

    --violet-1: rgb(245 243 255);
    --violet-2: rgb(237 233 254);
    --violet-3: rgb(221 214 254);
    --violet-4: rgb(196 181 253);
    --violet-5: rgb(167 139 250);
    --violet-6: rgb(139 92 246);
    --violet-7: rgb(124 58 237);
    --violet-8: rgb(109 40 217);
    --violet-9: rgb(91 33 182);
    --violet-10: rgb(76 29 149);
    --violet-11: rgb(46 16 101);

    --purple-1: rgb(250 245 255);
    --purple-2: rgb(243 232 255);
    --purple-3: rgb(233 213 255);
    --purple-4: rgb(216 180 254);
    --purple-5: rgb(192 132 252);
    --purple-6: rgb(168 85 247);
    --purple-7: rgb(147 51 234);
    --purple-8: rgb(126 34 206);
    --purple-9: rgb(107 33 168);
    --purple-10: rgb(88 28 135);
    --purple-11: rgb(59 7 100);

    --fuchsia-1: rgb(253 244 255);
    --fuchsia-2: rgb(250 232 255);
    --fuchsia-3: rgb(245 208 254);
    --fuchsia-4: rgb(240 171 252);
    --fuchsia-5: rgb(232 121 249);
    --fuchsia-6: rgb(217 70 239);
    --fuchsia-7: rgb(192 38 211);
    --fuchsia-8: rgb(162 28 175);
    --fuchsia-9: rgb(134 25 143);
    --fuchsia-10: rgb(112 26 117);
    --fuchsia-11: rgb(74 4 78);

    --pink-1: rgb(253 242 248);
    --pink-2: rgb(252 231 243);
    --pink-3: rgb(251 207 232);
    --pink-4: rgb(249 168 212);
    --pink-5: rgb(244 114 182);
    --pink-6: rgb(236 72 153);
    --pink-7: rgb(219 39 119);
    --pink-8: rgb(190 24 93);
    --pink-9: rgb(157 23 77);
    --pink-10: rgb(131 24 67);
    --pink-11: rgb(80 7 36);

    --rose-1: rgb(255 241 242);
    --rose-2: rgb(255 228 230);
    --rose-3: rgb(254 205 211);
    --rose-4: rgb(253 164 175);
    --rose-5: rgb(251 113 133);
    --rose-6: rgb(244 63 94);
    --rose-7: rgb(225 29 72);
    --rose-8: rgb(190 18 60);
    --rose-9: rgb(159 18 57);
    --rose-10: rgb(136 19 55);
    --rose-11: rgb(76 5 25);

    /* текст */
    --black-1: rgb(0 0 0);
    --black-2: rgb(51 51 51);
    --grey-1: rgb(102 102 102);
    --grey-2: rgb(153 153 153);
    --white-2: rgb(204 204 204);
    --white-1: rgb(255 255 255);
}
